nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-brand {
  padding: 10px;
}

.nav-links {
  width: 15%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}
